/* Mobile first dev:
breakpoints: 320px, 480px, 768px, 1024px. */

/* eliminate def browser config */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
}

body {
  background-color: #0a0a0a;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23177204' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  background-color: tomato;
}

/* HEADER */

.headerContainer {
  background: url(images/header-img.jpg) no-repeat center/cover;
  width: 100%;
  height: 500px;
}

.headerContainer .title {
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 2rem;
  color: #000;
  line-height: 1.5;
  text-align: center;
}

.headerContainer p {
  position: absolute;
  font-size: 0.5rem;
  top: 530px;
  left: 20px;
}

/* ABOUT */

.about {
  width: 100%;
  min-height: 700px;
  padding: 2.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about h2,
.about h1 {
  color: #000;
}

.about h2 {
  font-size: 1.5rem;
  text-align: center;
}

.about .techno {
  color: rgb(0, 99, 0);
  font-size: 1.8rem;
}

/* WHAT IS TECHNO? */

.whatIsTechno {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.5rem;
  gap: 2rem;
}

.whatIsTechno p {
  text-align: justify;
}

.block1,
.block2,
.block3 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.block1 img {
  max-width: 350px;
  max-height: 300px;
}

/* FAV ARTISTS */

.favArtists {
  width: 100%;
  min-height: 700px;
  background-color: #000;
}

.favArtists h1 {
  margin: 1.5rem;
}

.favArtists img {
  max-width: 100%;
  max-height: 500px;
}

.favArtists .title {
  padding: 2rem 0;
  text-align: center;
}

.favArtists .carousel-caption {
  background-color: rgba(80, 80, 80, 0.4);
  border-radius: 12px;
}

/* CONTACT */

.contact {
  min-height: 400px;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.contact h2 {
  margin: 2rem 0;
  text-align: center;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  align-items: center;
}

.contactLink {
  width: 8rem;
  height: 4.5rem;
  border-radius: 20px;
  background-color: white;
  color: #000;
  transition: background-color 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.contactLink:hover {
  background-color: rgb(0, 99, 0);
}

.contactTitle {
  margin: 3rem 2rem;
}

#message {
  overflow: scroll;
}

.formContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

/* FOOTER */

.footer {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.footer i {
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
  transition: color 0.5s linear;
}

.footer i:hover {
  color: rgb(0, 99, 0);
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.footer p {
  color: black;
}

@media (min-width: 768px) {
  .whatIsTechno p {
    width: 50%;
  }

  .block1,
  .block3 {
    flex-direction: row;
    gap: 2.5rem;
  }

  .block2 {
    flex-direction: row-reverse;
    gap: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .formContainer {
    width: 50%;
  }
}
