/* Mobile first dev:
breakpoints: 320px, 480px, 768px, 1024px. */

/* eliminate def browser config */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #0a0a0a;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23177204' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(52, 180, 52, 0.9);
}

a:hover {
  color: rgba(51, 170, 51, 0.7);
}

/* NAVBAR */

.navbar-brand {
  margin-left: 1.5rem;
}

.navbar-toggler {
  margin-right: 1.5rem;
}

/* HEADER */

.headerContainer {
  background: url(images/header-img.jpg) no-repeat center/cover;
  width: 100%;
  height: 500px;
  position: absolute;
}

.headerContainer .title {
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 2rem;
  color: #000;
  line-height: 1.5;
  text-align: center;
}

.headerContainer p {
  position: absolute;
  font-size: 0.5rem;
  top: 450px;
  left: 20px;
}

/* ABOUT */

.about {
  margin-top: 500px;
  width: 100%;
  min-height: 700px;
  padding: 2.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about h2,
.about h1 {
  color: #000;
}

.about h2 {
  font-size: 1.5rem;
  text-align: center;
}

.about .techno {
  color: rgb(0, 99, 0);
  font-size: 1.8rem;
}

/* WHAT IS TECHNO? */

.whatIsTechno {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.5rem;
  gap: 2rem;
}

.whatIsTechno p {
  text-align: justify;
}

.block1,
.block2,
.block3 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.block1 img {
  max-width: 350px;
  max-height: 300px;
}

.technoLink {
  text-align: justify;
  font-size: 1.4rem;
  width: 60%;
  height: 9.5rem;
  background-color: #fff;
  color: #000;
  padding: 1.6rem;
  border-radius: 12px;
  transition: background-color, color 0.5s linear;
}

.technoLink:hover {
  color: #fff;
  background-color: rgba(51, 170, 51, 0.7);
}

/* MORE TECHNO */

.moreTechno {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

.moreTechno h2 {
  text-align: justify;
  font-size: 1.2rem;
  margin: 1.5rem 0;
}
.moreTechno p {
  text-align: justify;
  font-size: 1rem;
}

.moreTechno iframe {
  margin: 1.5rem 0;
  width: 100%;
}

/* FAV ARTISTS */

.favArtists {
  width: 100%;
  min-height: 700px;
  background-color: #000;
}

.favArtists h1 {
  margin: 1.5rem;
}

.favArtists img {
  max-width: 100%;
  max-height: 500px;
}

.favArtists .title {
  padding: 2rem 0;
  text-align: center;
}

.favArtists .carousel-caption {
  background-color: rgba(80, 80, 80, 0.7);
  border-radius: 12px;
  padding: 0.5rem;
}

/* CONTACT */

.contact {
  min-height: 400px;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.contact h2 {
  margin: 2rem 0;
  text-align: center;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  align-items: center;
}

.contactLink {
  width: 8rem;
  height: 4.5rem;
  border-radius: 20px;
  background-color: white;
  color: #000;
  transition: background-color, color 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.contactLink:hover {
  background-color: rgba(51, 170, 51, 0.7);
  color: #fff;
}

.contactTitle {
  margin: 3rem 2rem;
}

#message {
  overflow: scroll;
}

.formContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

/* FOOTER */

.footer {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.footer i {
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
  transition: color 0.5s linear;
}

.footer i:hover {
  color: rgb(0, 99, 0);
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.footer p {
  color: black;
}

/* THANKS */

.thanksContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.thanksContainer h1 {
  margin: 3rem;
}

.thanksContainer h2 {
  margin: 1rem 0;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  #navbarOptions {
    margin-right: 2rem;
  }
  .headerContainer .title {
    top: 160px;
    font-size: 2.2rem;
  }
  .about h1 {
    margin-left: 10%;
  }

  .about h2 {
    margin-left: 15%;
    width: 70%;
  }

  .whatIsTechno p {
    width: 50%;
  }

  .block1,
  .block3 {
    flex-direction: row;
    gap: 2.5rem;
  }

  .block2 {
    flex-direction: row-reverse;
    gap: 2.5rem;
  }

  .moreTechno .type1,
  .moreTechno .type3,
  .moreTechno .type5 {
    display: flex;
    margin: 2rem auto;
    gap: 2rem;
  }

  .moreTechno .type2,
  .moreTechno .type4 {
    display: flex;
    flex-direction: row-reverse;
    margin: 2rem auto;
    gap: 2rem;
  }

  .favArtists {
    min-height: 800px;
    margin: 6rem 0 4rem 0;
    padding-top: 4rem;
  }

  #carouselArtists {
    width: 80%;
    margin: 0 auto;
  }

  .favArtists h1 {
    padding: 2.5rem;
  }

  .contact {
    padding: 4.5rem;
  }

  .contact h1 {
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  #navbarOptions {
    font-size: 1.2rem;
  }
  .navbar-brand {
    font-size: 1.4rem;
  }
  .headerContainer {
    height: 700px;
  }
  .headerContainer .title {
    top: 210px;
    font-size: 2.8rem;
  }

  .headerContainer p {
    font-size: 0.8rem;
    top: 660px;
  }
  .about {
    margin-top: 700px;
  }

  .whatIsTechno {
    width: 80%;
    margin: 4rem auto;
  }
  .whatIsTechno p {
    font-size: 1.2rem;
    width: 60%;
  }
  .whatIsTechno h2 {
    font-size: 1.6rem;
  }

  .technoLink {
    font-size: 1.6rem;
    margin-left: 20%;
  }
  .moreTechno {
    padding: 3rem 6rem;
  }
  .moreTechno p {
    font-size: 1.2rem;
  }
  .moreTechno h2 {
    font-size: 1.6rem;
  }
  .formContainer {
    width: 50%;
  }

  .type1,
  .type2,
  .type3,
  .type4,
  .type5 {
    gap: 4rem;
  }

  #carouselArtists {
    width: 60%;
    margin: 0 auto;
  }

  .favArtists .carousel-caption {
    font-size: 1.2rem;
  }

  .contact {
    padding: 4.5rem 6.5rem;
  }
  .contactLink {
    margin-right: 8rem;
    font-size: 1.8rem;
    width: 9rem;
    height: 5rem;
  }

  .linkContainer {
    width: 60%;
    margin-left: 20%;
  }

  .formContainer label {
    font-size: 1.6rem;
  }

  .formContainer .btnContainer {
    margin-bottom: 4rem;
  }
  .footer i {
    font-size: 2rem;
  }
}
